header, section,figure,figcaption,article,footer,aside,nav{
    display: block;
}
a{
    color: #fff;
    text-decoration: none;
}
li :hover{
    color: red;
}
header{
    display: inline;
}
li{
    display: inline;
    margin: 5px;
}
body{
    background-image: url(../Genshin/1123013.jpg);
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    margin: 0px;
    color: #fff;
}
.All{
    width: 100%;
    margin: 20px auto 20px auto;
    border: 7px auto #000000;
    
}
h1{
    
    width: 940px;
    height: 50px;
    margin: 0px;
    color: white;
}
nav,footer{
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;
}
nav ul{
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
section.Info{
    float: left;
    width: 700px;
    border-left: 1px solid #eeeeee;
}
article{
    clear: both;
    overflow: auto;
    width: 90%;
}
hgroup, p{
    margin: 20px;
}
figure{
    float: left;
    width: 290px;
    height: 290px;
    padding: 0px;
    margin: 20px;
    border: 1px solid #eeeeee;
}

aside{
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}
aside section a{
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}
h1,h2,h3{
    font-weight: normal;
}
h2{
    margin: 10px 0px 5px 0px;
    padding: 0px;
    color: crimson;
}
h3{
    margin: 10px 0px 10px 10px;
}

aside h2{
    padding: 30px 0px 10px 0px;
    color: #de6581;
}
footer{
    font-size: 80%;
    padding: 7px 0px 0px 20px;
    background-color: gray;
    text-align: center;
}
aside section a:hover{
    color: red;
    background-color: aqua;
}
.Info img{
    width: 290px;
    height: 290px;
}
aside {
    float: left !important;
    margin-left: 200px;
}